@{
    # Tools enable/disable flags
    Tools = @{
        TenableWAS  = $true
        SonarQube   = $false
        BurpSuite   = $false
        DefectDojo  = $false
        GitHub      = $true
    }

    # File paths for tools requiring local inputs
    Paths = @{
        BurpSuiteXmlFolder = 'C:\Scans\Burp'
    }

    # API base URLs for tools
    ApiBaseUrls = @{
        DefectDojo = 'https://appsec.internal.bamtech.net/api/v2'
        TenableWAS = 'https://fedcloud.tenable.com/'
        SonarQube  = 'https://sonarqube.example.com/api'
        BurpSuite  = 'http://127.0.0.01:1234/api'
        GitHub     = 'https://api.github.com'
    }

    # Default scan identifiers (optional)
    TenableWASScanId = '0a514d9e-7e2f-4bd5-9e22-e5044e94bc77'  # Set a default scan ID to export from Tenable WAS

    # DefectDojo selection identifiers (optional)
    DefectDojo = @{
        ProductId         = 0  # Enter the DefectDojo product Id
        EngagementId      = 0  # Enter the DefectDojo engagement Id
        TenableWASTestId  = 0  # Enter the DefectDojo test Id for TenableWAS
        SonarQubeTestId   = 0  # Enter the DefectDojo test Id for SonarQube
        BurpSuiteTestId   = 0  # Enter the DefectDojo test Id for BurpSuite
        MinimumSeverity   = 'Low'  # Enter the minimum severity to upload
        APIScanConfig = 1
    }

    # GitHub Organization
    GitHub = @{
    org = 'BAMTech-MyVector'
}

}
